.container-fluid, .container {background: #f5f1f1;}
.navbar {
    background: #e4dbdb;
    border-radius: 5px;
    ;
}

.subnav {
    /* background: #dadada; */
    border-radius: 5px;
}

.subnav p { text-align: justify; padding: 0px 0px 0px 25px;}

.ads {
    /* background: #dadada; */
    border-radius: 5px;
    ;
}

.header {
    background: rgb(166, 214, 241);
    border-radius: 5px;
    color:rgb(129, 7, 7);
    
}

.header h1{font-weight:bolder;}

.col-3{ padding-right: 2%;}

.footer {
    background: rgb(166, 214, 241);
    border-radius: 5px;
    ;
}

.link {
    font-size: 20px;
    color: rgb(101, 11, 119);
}

.link:hover {
    font-size: 22px;
    color: rgb(57, 10, 66);
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    margin: 0 15px;
}


.nav li a {
    color: rgb(255, 255, 255);
    background: rgb(111, 103, 221);
    text-align: center;
    border-radius: 5px;
    margin: 5px 0;
}

.nav li a:hover {
    font-size: 18px;
    color: rgb(231, 222, 222);
}


.figure a img:hover{
    opacity: 0.5;
    height: 123px;
    width: 123px;
    
}

figcaption a:hover{
    color:red; font-size: 18px; font-weight: bold;
}


.yt {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 75.00%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
   
  }

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 10%;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 80%;
    padding-top: 7%;
  }

  .pagination a:hover{
    color:red; font-size: 18px; text-shadow: maroon; font-weight: bold;
    
  }

.marea{
    /* background: #a9c6c685; */
}

.content{
    background: rgb(235, 236, 240);
    border-radius: 5px;

}
  